{% extends 'assistant/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row justify-content-center my-4">

    <div class="col-md-7 mt-4">

        <div class="card">
            <h1 class="card-header text-center">WEB AI</h1>

            <div class="card-body">

             <pre>Hello, kérdezhetsz. :)</pre>

              <form action="." method="POST">
                <!-- this secures the form from malicious attacks during submission -->
                {% csrf_token %}

                <input class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}" id="">

                <button class="btn btn-success fw-bold" type="submit">
                     KÜLDÉS
                </button>

              </form>

              <hr>

              <textarea rows="15" cols="90"> {{ formatted_response }} </textarea>

            </div>

        </div>

    </div>

  </div>
</div>
{% endblock %}